<div class="pure-g">
  <div class="pure-u-1-4"></div>
  <div class="content pure-u-3-4">
    <div class="link-tos">
      {{link-to 'Create a new student' 'students.new'}}
    </div>
    <table class="pure-table pure-table-striped">
      <thead>
        <th>Name</th>
        <th>Gender</th>
        <th>Grade</th>
        <th></th>
      </thead>
      <tbody>
        {{#each student in model}}
          <tr>
            <td class="resource-names">{{link-to student.fullName 'students.show' student}}</td>
            <td class="resource-names">{{student.gender}}</td>
            <td class="resource-names">{{student.grade}}</td>
            <td><a href="#" {{action "delete" student}}>Delete</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
