<div class="nav pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">{{link-to "Classrooms" "classrooms" class="fa fa-trello pure-menu-link"}}</li>
    <li class="pure-menu-item">{{link-to "Problems" "problems" class="fa fa-plus-circle pure-menu-link"}}</li>
    <li class="pure-menu-item">{{link-to "Quiz Sessions" "quizSessions" class="fa fa-ticket pure-menu-link"}}</li>
    <li class="pure-menu-item">{{link-to "Schools" "schools" class="fa fa-university pure-menu-link"}}</li>
    <li class="pure-menu-item">{{link-to "Quizzes" "quizzes" class="fa fa-graduation-cap pure-menu-link"}}</li>
    <li class="pure-menu-item">{{link-to "Students" "students" class="fa fa-meh-o pure-menu-link"}}</li>
    <li class="pure-menu-item">{{link-to "Teachers" "teachers" class="fa fa-user pure-menu-link"}}</li>
  </ul>
</div>
