<form class="form pure-form pure-form-stacked">
  <fieldset>
      <label>Date:</label>
      {{ input value=model.date }}

      <label>Time Taken:</label>
      {{ input value=model.timeTaken }}

      <label>Correct:</label>
      {{ input value=model.correct }}

      <label>Wrong:</label>
      {{ input value=model.wrong }}

      <label>Unanswered:</label>
      {{ input value=model.unanswered }}

      <label>Score:</label>
      {{ input value=model.score }}

    <button class="button-save pure-button" {{ action "save" }}>Save</button>
    <button class="button-cancel pure-button" {{ action "cancel" }}>Cancel</button>
  </fieldset>
</form>
