<div class="pure-g">
  <div class="pure-u-1-4"></div>
  <div class="content pure-u-3-4">
    <div class="image-container">
      <div class="image">
        <img src="//style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="no photo available" class="w100px" />
        <div class="link-tos">
          {{link-to "Edit quizSession" "quizSessions.edit" model}}
        </div>
        <div class="link-tos">
          {{link-to "List of all quizSessions" "quizSessions.index"}}
        </div>
      </div>
    </div>
    <div class="data">
      <div class="info">
        <div>
          <p class="label">Date</p>
          <p class="text">{{model.formattedDate}}</p>
          <p class="label">Time Taken</p>
          <p class="text">{{model.timeTaken}} seconds</p>
          <p class="label">Correct</p>
          <p class="text">{{model.correct}}</p>
          <p class="label">Wrong</p>
          <p class="text">{{model.wrong}}</p>
          <p class="label">Unanswered</p>
          <p class="text">{{model.unanswered}}</p>
          <p class="label">Score</p>
          <p class="text">{{model.score}}</p>
          {{#with model.student as student}}
            <p class="label">Student</p>
            <p class="text">{{student.fullName}}</p>
          {{/with}}
          {{#with model.student.classroom.teacher as teacher}}
            <p class="label">Teacher</p>
            <p class="text">{{teacher.fullName}}</p>
          {{/with}}
          {{#with model.quiz as quiz}}
            <p class="label">Quiz No.</p>
            <p class="text">{{quiz.id}}</p>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
</div>
