<div class="pure-g">
  <div class="pure-u-1-4"></div>
  <div class="content pure-u-3-4">
    <div class="image-container">
      <div class="image">
        <img src="//style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="no photo available" class="w100px" />
        <div class="link-tos">
          {{link-to "Edit classroom" "classrooms.edit" model}}
        </div>
        <div class="link-tos">
          {{link-to "List of all classrooms" "classrooms.index"}}
        </div>
      </div>
    </div>
    <div class="data">
      <div class="info">
        <div>
          <p class="label">Name:</p>
          <p class="text">{{model.name}}</p>
          <p class="label">Teacher:</p>
          {{#with model.teacher as teacher}}
          <p class="text">{{teacher.fullName}}</p>
          {{/with}}
          <p class="label">School:</p>
          {{#with model.school as school}}
          <p class="text">{{school.name}}</p>
          {{/with}}
        </div>
      </div>
    </div>
    <table class='pure-table student-table'>
      <thead>
        <th>Student Name:</th>
      </thead>
      <tbody>
        {{#each student in model.students}}
          <tr><td>{{student.fullName}}</td></tr>
        {{/each}}
      </tbody>
    </table>
    <div class='child-records'>
      {{outlet}}
    </div>
  </div>
</div>
